
* {
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
  color: rgb(57, 15, 48);
  
}

.Welcome {
  padding: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 3.5rem;
}

.Name{
  font-size: 2rem;
  color: white
}

.NavBar{
  padding: 15px;
}

.LinkList{
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-right: 1px solid rgb(85, 30, 73);
  font-size: 1.2rem;
  
}

.App {
  text-align: center;
  background-image: url('./assets/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.footer {
  background-color: rgb(66, 87, 79);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  justify-content: space-evenly;
  color: white;
}




  
